/* Slide 2 */
#topicSlide2 {
    margin-bottom: 75px;
}

#definition-test {
    font-size: 25px;
}

#definition-test1 {
    font-size: 25px;
    margin-bottom: 60px;
}

#test-f code {
    overflow: hidden;
    font-size: 28px;
    text-align: center;
    padding-top: 30px;
}

#text {
    font-size: 25px;
}
/* --------- */