/* Slide 2 */
#topicSlide2 {
    margin-bottom: 200px;
}

#datatypes {
    word-spacing: 150px;
}
/* ---------------- */

/* Slide 3 */
#topicSlide3 {
    margin-bottom: 150px;
}

#int {
    float: left;
    text-align: left;
    font-size: 27px;
    word-spacing: 5px;
}

#uint {
    float: right;
    text-align: left;
    font-size: 27px;
    word-spacing: 5px;
}
/* ---------------- */

/* Slide 4 */
#topicSlide4 {
    margin-bottom: 150px;
}

#float32 {
    float: left;
    text-align: left;
}

#float64 {
    float: right;
    text-align: left;
}
/* Slide 5 */
#topicSlide5 {
    margin-bottom: 120px;
}
#operations {
    margin-bottom: 130px;
}

#tableOperations {
    /*margin-bottom: 200px;*/
}
/* ---------------- */

/* Slide 6 */
#topicSlide6 {
    margin-bottom: 200px;
}

#doublequotes {
    margin-right: 150px;
    margin-bottom: 250px;
}

#singlequotes {
    margin-left: 150px;
    margin-bottom: 250px;
}
/* ---------------- */

/* Slide 7 */
#topicSlide7 {
    margin-bottom: 200px;
}

#true {
    float: left;
    margin-left: 150px;
}

#false {
    float: right;
    margin-right: 150px;
}
/* ---------------- */

/* Slide 8 */
#topicSlide8 {
    margin-bottom: 200px;
}

#complex64 {
    margin-right: 150px;
    margin-bottom: 250px;
}

#comlex128 {
    margin-left: 150px;
    margin-bottom: 250px;
}
