/* Slide 2 */
#topicSlide2 {
    margin-bottom: 75px;
}

#history-go {
    font-size: 30px;
}
/* --------- */

/* Slide 3 */
#topicSlide3 {
    margin-bottom: 75px;
}

#main-pluses {
    font-size: 30px;
}
/* --------- */

/* Slide 5 */
#topicSlide5 {
    margin-bottom: 75px;
}
/* --------- */
