/* Slide 2 */
#topicSlide2 {
    margin-bottom: 75px;
}

#definition-func {
    margin-top: 10px;
    font-size: 30px;
}

#code-func {
    font-size: 23px;
}
/* --------- */

/* Slide 3 */
#topicSlide3 {
    margin-bottom: 75px;
}

#definition-slice {
    padding-bottom: 50px;
    font-size: 30px;
}

#code-func code {
    overflow: hidden;
    text-align: center;
    font-size: 25px;
}

#act {
    padding-right: 500px;
}

#braces-f {
    padding-right: 900px;
}
/* --------- */

/* Slide 4 */
#topicSlide4 {
    margin-bottom: 75px;
}

#code-return code {
    overflow: hidden;
    font-size: 25px;
    text-align: center;
}

#main {
    padding-right: 130px;
}

#braces, #braces-1 {
    padding-right: 300px;
}
/* --------- */

/* Slide 5 */
#slide5 {
    margin-top: 30px;
}

#topicSlide5 {
    margin-bottom: 35px;
}

#definition-var {
    margin-top: 10px;
    font-size: 28px;
}

#code-args code {
    overflow: hidden;
    text-align: center;
}

#total {
    padding-right: 105px;
}

#braces-args {
    padding-right: 210px;
}

#return-total {
    padding-right: 65px;
}

#braces-args-1, #braces-args-2 {
    padding-right: 325px;
}

#for {
    padding-left: 75px;
}

#main-args {
    padding-right: 175px;
}

#print {
    padding-left: 90px;
}
/* --------- */

/* Slide 6 */
#topicSlide6 {
    padding-bottom: 75px;
}

#definition-closure {
    font-size: 35px;
}
/* --------- */

/* Slide 7 */
#slide7 {
    margin-top: 40px;
}

#topicSlide7 {
    margin-bottom: 75px;
}

#definition-recur {
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 30px;
}

#code-recursion code {
    overflow: hidden;
    text-align: center;
}

#if-rec {
    padding-right: 43px;
}

#braces-rec {
    padding-right: 150px;
}

#return-rec-1 {
    padding-left: 100px;
}

#braces-rec-1 {
    padding-right: 290px;
}

/* --------- */