/* Slide 2 */
#topicSlide2 {
    margin-bottom: 75px;
}

#definition-package {
    padding-bottom: 50px;
    font-size: 25px;
}

#code-import code {
    overflow: hidden;
    font-size: 28px;
    text-align: center;
}

#text {
    font-size: 25px;
}
/* --------- */

/* Slide 3 */
#topicSlide3 {
    margin-bottom: 75px;
}

#plus-package {
    margin-top: 10px;
    font-size: 30px;
}
/* --------- */


/* Slide 4 */
#topicSlide4 {
    margin-bottom: 55px;
}
#text-1 {
    text-align: center;
}

#func {
    padding-left: 300px;
}

#plus-package {
    margin-top: 10px;
    font-size: 30px;
}
/* --------- */
