/* Slide 2 */
#slide2 {
    margin-top: 35px;
}

#topicSlide2 {
    margin-bottom: 75px;
}

#definition-array {
    margin-top: 10px;
    padding-bottom: 35px;
    font-size: 30px;
}

pre #code-array {
    white-space: normal;
}

#code-array {
    font-size: 30px;
    overflow: hidden;
    text-align: center;
}

/* --------- */

/* Slide 3 */
#topicSlide3 {
    margin-bottom: 75px;
}

#definition-slice {
    margin-top: 10px;
    font-size: 30px;
}

/* --------- */

/* Slide 4 */
#topicSlide4 {
    margin-bottom: 75px;
}

#definition-slice-1 {
    margin-top: 10px;
    font-size: 30px;
}

#definition-slice-2 {
    margin-top: 10px;
    font-size: 30px;
}

pre #code-slice, #code-slice-1, #code-slice-2, #code-slice-3 {
    white-space: normal;
}

#code-slice {
    font-size: 30px;
    overflow: hidden;
    text-align: center;
}

#code-slice-1 {
    font-size: 30px;
    overflow: hidden;
    text-align: center;
}

#code-slice-2 {
    font-size: 30px;
    overflow: hidden;
    text-align: center;
}

#code-slice-3 {
    font-size: 30px;
    overflow: hidden;
    text-align: center;
}
/* --------- */

/* Slide 5 */
#slide5 {
    margin-top: 40px;
}

#topicSlide5 {
    margin-bottom: 75px;
}

#definition-map {
    margin-top: 10px;
    font-size: 30px;
}

pre #code-map {
    white-space: normal;
}

#code-map {
    font-size: 30px;
    text-align: center;
    overflow: hidden;
}
/* --------- */

/* Slide 6 */
#slide6 {
    margin-top: 40px;
}

#topicSlide6 {
    margin-bottom: 75px;
}

#text, #text1 {
    font-size: 27px;
}

#map pre {
    text-align: center;
    overflow: hidden;
    font-size: 25px;
}

/* --------- */